/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* General styles */
body {
    background-color: #a30303;
}

.heading1 {
    font-family: 'Permanent Marker';
}

/* Game title area */
.title-section {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

#title {
    color: #eb0505;
    font-size: 80%;
}
/* Instructions */
.instructions-button {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#drop-down-button {
    display: none;
}

.drop-down-button-label {
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 60%;
    }
