/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* General styles */
body {
    background-color: #a30303;
}

.heading1 {
    font-family: 'Permanent Marker';
}

/* Game title area */
.title-section {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
}

#title {
    color: #eb0505;
    font-size: 115%;
}
/* Instructions */
.instructions-button {
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 0px 0px 12px 12px;
}

#drop-down-button {
    display: none;
}

.drop-down-button-label {
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 60%;
}

/* Game area */
.fighter-selection-title {
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 130%;
    color: #9e9e9e;
    text-align: center;
}

#game-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.game-options {
    width: 50px;
}

.battle-icons {
    height: 30px;
    width: 30px;
    margin-top: 26px;
}

/* Round outcome section */
.section-background-round-outcome {
    background-color: black;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
}

#round-outcome {
    color: #eb0505;
    font-size: 130%;
}

#game-text {
    text-align: center;
    color: #c9c9c9;
    font-family: 'Permanent Marker';
}

/* score tally section */
.section-background-score-tally {
    background-color: black;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.score-tally {
    color: white;
    font-size: 100%;
}

/* Funny pictures */
.funny-picture-1 {
    display: flex;
    justify-content: center;
}

#funny-picture-1-unique {
    width: 75%;
    height: 75%;
}

@media screen and (min-width:768px) {
    /* Game title area */
    .title-section {
        width: 70%;
    }

    #title {
        font-size: 160%;
    }

    /* Instructions */
    .instructions-button {
        width: 30%;
    }
    
    .drop-down-button-label {
        font-size: 80%;
    }

    /* Game area */
    .fighter-selection-title {
        font-size: 160%;
    }

    .game-options {
        width: 100px;
    }
    
    .battle-icons {
        height: 80px;
        width: 80px;
        margin-top: 42px;
    }

    /* Score tally */
    .score-tally-div {
        display: flex;
    }

    /* Funny pictures */
    #side-by-side {
        display: flex;
        justify-content: space-evenly;
    }
    
    #funny-picture-1-unique {
        width: 330px;
        height: 330px;
    }

    #funny-picture-2-unique {
        width: 330px;
        height: 330px;
    }

    .funny-picture-1 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    /* Funny pictures */
    .funny-picture-2 {
        display: none;
    }
}
