/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* General styles */
body {
    background-color: #a30303;
}

.heading1 {
    font-family: 'Permanent Marker';
}

/* Game title area */
.title-section {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px 12px 0px 0px;
}

#title {
    color: #eb0505;
    font-size: 80%;
}
/* Instructions */
.instructions-button {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 0px 0px 12px 12px;
}

#drop-down-button {
    display: none;
}

.drop-down-button-label {
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 60%;
}

/* Game area */
#game-section {
    text-align: center;
}

.game-options {
    width: 10%;
    height: 10%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.battle-icons {
    width: 7%;
    height: 7%;
    padding-bottom: 10px;
}

.funny-picture {
    width: 10%;
    height: 10%;
}

@media screen and (max-width:767px) {
    /* Funny pictures */
    .funny-picture {
        display: none;
    }
}
